.edit-pencil {
  font-size: 47px;
}

.form-margin {
  margin-bottom: 30px;
}

.alert {
  width: 500px;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  display: none;
  margin: 0 auto;
}

.alert p {
  font-size: 14px;
}

.alert span {
  font-weight: bold;
}

.btn-alert {
  width: 100px;
  height: 45px;
  display: inline-block;
  border: 1px solid lightskyblue;
  vertical-align: top;
  line-height: 45px;
  text-align: center;
  background-color: lightblue;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  float: right;
}

.show-alert {
  width: 100px;
  height: 45px;
  display: inline-block;
  border: 1px solid #2b2b2b;
  vertical-align: top;
  line-height: 45px;
  text-align: center;
  background-color: gray;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}